body {
    background-color: bisque;
}
footer {
    background-color: black;
    color: white;
}
footer {
    background-color: black;
    color: white;
    position: fixed;
    bottom: 0;
}
footer {
    background-color: black;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}
footer {
    background-color: black;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 2rem;
}
footer p {
    text-align: center;
}
footer p {
    text-align: center;
    font-size: 0.6rem;
}
footer p {
    text-align: center;
    font-size: 0.6rem;
    margin-top: 0.5rem;
}
body {
    background-color: bisque;
    font-family: Bai Jamjuree;
}
<link rel="stylesheet" href="assets/style.css">
body {
    background-color: bisque;
}
footer {
    background-color: black;
    color: white;
}
footer {
    background-color: black;
    color: white;
    bottom:0;
    position:fixed;
    width:100%;
}
footer p{
    text-align: center;
    font-size: 0.6rem;
}
    height:2rem;
    margin-top: 0,5rem;
 font-family: Bai Jamjuree;
/* código omitido */

#container {

}

/* código omitido */
/* código omitido */

#container {
    display: flex;
}

/* código omitido */
<!-- código omitido -->

<main>
    <section id="container">
        <article class="cartao">

<!-- código omitido -->
<!-- código omitido -->

<h3>Programação</h3>
<div class="cartao_conteudo_pergunta">
    O que é JavaScript?
</div>
<div class="cartao_conteudo_resposta">
    O JavaScript é uma linguagem de programação
</div>

<!-- código omitido -->
<!-- código omitido -->

<h3>Programação</h3>
<div class="cartao_conteudo_pergunta">
    <p>O que é JavaScript?</p>
</div>
<div class="cartao_conteudo_resposta">
    <p>O JavaScript é uma linguagem de programação</p>
</div>

<!-- código omitido -->

<h3>Programação</h3>
<div class="cartao_conteudo_pergunta"> 
    <p>O que é CSS?</p>
</div>
<div class="cartao_conteudo_resposta"> 
    <p>O CSS é uma linguagem de estilização</p>
</div>

<!-- código omitido -->
/* código omitido */

#container {
    display: flex;
}

.cartao {
    margin: 1rem 1rem;
}

/* código omitido */
/* código omitido */

#container {
    display: flex;
}

.cartao {
    margin: 1rem 1rem;
    background-color: aqua;
}

/* código omitido */
/* código omitido */

#container {
    display: flex;
}

.cartao {
    margin: 1rem 1rem;
    background-color: aqua;
    height: 20rem;
}

/* código omitido */
/* código omitido */

#container {
    display: flex;
}

.cartao {
    margin: 1rem 1rem;
    background-color: aqua;
    height: 20rem;
    flex-grow: 1;
}

/* código omitido */
/* código omitido */

#container {
    display: flex;
}

.cartao {
    margin: 1rem 1rem;
    background-color: aqua;
    height: 20rem;
    flex-grow: 1;
    flex-basis: calc(33% - 6rem);
}

/* código omitido */
/* código omitido */

#container {
    display: flex;
}

.cartao {
    margin: 1rem 1rem;
    background-color: aqua;
    height: 20rem;
    flex-grow: 1;
    flex-basis: calc(33% - 6rem);
}

.cartao__conteudo {
    text-align: center;
}

/* código omitido */
/* código omitido */

.cartao__conteudo {
    text-align: center;
    background-color: aquamarine;
}

/* código omitido */
